<div class="card mb-3 card-movie">
  <div class="row g-0">
    <div class="img-container">
    <!-- <a (click)="setMovie()" [routerLink]="['movies', this.idCard]"><img class="card-img-top" src="https://image.tmdb.org/t/p/w500{{movieCard.poster_path}}" alt="Card image cap"></a> -->
    <p (click)="setMovie()"><img class="card-img-top" src="https://image.tmdb.org/t/p/w500{{movieCard.poster_path}}" alt="Card image cap"></p>
    </div>
    <div class="card-body-container">
      <div class="card-body">
        <h5 class="card-title">{{movieCard.original_title}}</h5>
        <p class="card-text">{{movieCard.overview}}</p>
      </div>
    </div>
    <button class="btn custom-button" (click)="setMovie()">Dettagli</button>
  </div>
</div>


<ng-template #noCard>
  <p>Data not found</p>
</ng-template>

