@font-face {
    font-family: 'KanitMedium';
    src: url(../../fonts/Kanit/Kanit-Medium.woff);
  }

nav{
  z-index: 1000;
}
.navbar-style{

  font-family: 'KanitMedium';
  font-size: 1.2rem;
    backdrop-filter: blur(7px) saturate(200%);
    background-color: rgba(0, 0, 0, 0.664) !important;
    a {
      color: white !important;
    }
}

.btn {
  border-color: #dc3545;
  & i {
    color: #dc3545;
  }
  &.btn:hover {
    background-color: #dc3545;
    border-color: white;
    & i {
      color: white;
    }
  }
}

.user-container {
  color: white !important;
}

