<!-- <section class="container-fluid home">
    <div *ngFor="let item of movies; let i = index">
        <app-card [movieCard]="item"></app-card>
    </div>
</section> -->


<div class="px-4 py-5 text-center hero-page d-flex justify-content-center align-items-center">
  <div class="hero-page-container d-flex flex-column justify-content-center align-items-center">
  <h1 class="display-5 fw-bold">Color Movie</h1>
  </div>
</div>

<div class="spacer d-flex flex-column justify-content-center align-items-center">
  <h2>Discover our new high performance platform</h2>
  <p>We collect movies from one of the best servers in the world. Seek your favourite movies, check their description, and keep finding something new you may like! </p>
</div>

<div class="container-cards bg-danger row">
  <app-card *ngFor="let item of movies; let i = index" class="col-10 offset-1 col-sm-6 offset-sm-0 col-md-4 col-xl-3"[movieCard]="item" [idCard]="i"></app-card>
</div>


