div {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin:0;
  border:5px solid black;
  background-image: url(../../../assets/IT-it-20230605-popsignuptwoweeks-perspective_alpha_website_large.jpg);
  background-repeat: no-repeat, repeat;
  background-size: cover;
}

@media screen and (max-device-width:576px) {
  div {
   min-width:20rem;
  }
}
