<form class="border-5 p-2 d-flex flex-column justify-content-around align-items-center no-margin"
  [formGroup]="dataForm">
  <img src="../../../assets/logo.png" alt="logo" class="mt-1">
  <h3 class="text-center">Welcome to Color Movie</h3>
  <form [formGroup]="loginForm" class="container-labels d-flex flex-column justify-content-center align-items-center">
    <label for="exampleInputEmail1" class="form-label">Email</label>
    <input class="form-control" [ngClass]="{'input-valid' : errorNickname === false}" type="email" formControlName="nickname" placeholder="Your Nickname" (keydown)="switchInputForm($event)">

    <!-- Message Error Email -->
    <small *ngIf="!errorNickname; else elseNickname">
      <p class="text-success">{{messageNickname}}</p>
    </small>

    <ng-template #elseNickname>
      <small>
        <p class="text-danger">{{messageNickname}}</p>
      </small>
    </ng-template>

    <label for="exampleInputPassword1" class="form-label">Password</label>
    <input id="fieldPassword" class="form-control" [ngClass]="{'input-valid' : errorPassword === false}" type="password" formControlName="password" placeholder="Your Password" (keydown)="pressSubmit($event)">

    <!-- Message Error Password -->
    <small *ngIf="!errorPassword; else elsePassword">
      <p class="text-success">{{messagePassword}}</p>
    </small>

    <ng-template #elsePassword>
      <small>
        <p class="text-danger">{{messagePassword}}</p>
      </small>
    </ng-template>
  </form>

  <button type="submit" class="btn custom-button" 
  [ngClass]="{'input-valid' : errorNickname === false && errorPassword === false}" [disabled]="errorNickname || errorPassword" 
  (click)="onSubmit()">Submit</button>
</form>
