<form class="border-5 p-2 d-flex flex-column justify-content-around align-items-center no-margin"
  [formGroup]="dataForm">
  <img src="../../../assets/logo.png" alt="logo" class="mt-1">
  <h3 class="text-center">Login</h3>
  <form [formGroup]="loginForm" class="container-labels d-flex flex-column justify-content-center align-items-center">
    <label for="exampleInputEmail1" class="form-label">Email</label>
    <input type="email" class="form-control" formControlName="nickname" placeholder="Your Nickname" id="exampleInputEmail1">

    <!-- Message Error Email -->
    <small *ngIf="!errorNickname; else elseNickname">
      <p class="text-success">{{messageNickname}}</p>
    </small>

    <ng-template #elseNickname>
      <small>
        <p class="text-danger">{{messageNickname}}</p>
      </small>
    </ng-template>

    <label for="exampleInputPassword1" class="form-label">Password</label>
    <input type="password" class="form-control" formControlName="password" placeholder="Your Password" (keydown)="pressSubmit($event)">

    <!-- Message Error Password -->
    <small *ngIf="!errorPassword; else elsePassword">
      <p class="text-success">{{messagePassword}}</p>
    </small>

    <ng-template #elsePassword>
      <small>
        <p class="text-danger">{{messagePassword}}</p>
      </small>
    </ng-template>
  </form>

  <button type="submit" class="btn custom-button" [disabled]="errorNickname || errorPassword" 
  (click)="onSubmit()">Submit</button>
</form>
