@font-face {
  font-family: KanitMedium;
  src: url(../../fonts/Kanit/Kanit-Medium.woff);
}

@font-face {
  font-family: KanitLight;
  src: url(../../fonts/Kanit/Kanit-Light.woff);
}

form {
  backdrop-filter: blur(7px) saturate(200%);
    background-color: rgba(0, 0, 0, 0.54);
    border-radius: 12px;
    color: white;
    img{max-width: 150px;
    min-height: 120px;
  border-radius: 50%;}

    h3{
      font-size: 3rem;
      padding-top: 0.6rem;
    }

    label{
      font-size: 1.2rem;
      font-family: KanitLight;
      margin:0;
    }

    input {
      background-color: rgba(36, 36, 36, 0.852);
      border: 2px solid #dc3545;
      color:white;
      border-radius:25px 25px;
      width:100%;
      transition: all 0.5s ease-out;
      &:hover {
        box-shadow: 280px 0 0 0 inset #dc3545;
      }
    }
      input::placeholder {
      color:rgba(255, 255, 255, 0.497);
    }
}

.custom-button {
  width:30%;
  font-family: KanitLight;
  background-color: rgba(36, 36, 36, 0.852);
  border: 2px solid #dc3545;
  color: white;
  transition: all 0.5s ease-out;
  &:hover {
    color:white;
    box-shadow: 200px 0 0 0 inset #dc3545;
    border-color: rgba(36, 36, 36, 0.852);
  }
}

@media screen and (max-device-width: 576px)  {
  form {
    min-width:16rem;
    height:20rem;

    input {
      max-width: 20rem;
    }
  }

  .custom-button {
    width:30%;
    &:hover {
      box-shadow: 130px 0 0 0 inset #dc3545;
    }
  }
}

@media screen and (min-device-width: 577px) {

    form {
      height:25rem;

      input {
      max-width: 20rem;
    }
  }
}

@media screen and (min-device-width:1200px) {

  form {
    height:30rem
  }

  input {
    max-width: 20rem;
  }

}
