<div class="mt-5 mb-5 container-listing">
  <h2 class="pt-5">Look for a movie</h2>
  <p>Search between millions of different movies</p>
    <form>
    <input [formControl]="inputText" type="text">
    <button class="custom-button"type="submit" (click)="callApi()">Clicca</button>
    </form>
    <div *ngIf="movies" class="container-fluid row">
        <div id="carousel" class="mt-5 mb-5 carousel col-12 col-lg-8 offset-lg-2" data-bs-ride="carousel">
          <div *ngFor="let item of movies; let i = index" class="carousel-inner">
            <div class="carousel-item" [class.active]="i === 0 ">
              <img src="https://image.tmdb.org/t/p/w500{{item.poster_path}}" class="d-block w-100" alt="...">
              <div class="carousel-caption d-none d-md-block">
                <h5>{{item.original_title}}</h5>
                <p>{{item.overview}}</p>
              </div>
            </div>
          </div>
          <a class="carousel-control-prev" href="#carousel" role="button" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </a>
          <a class="carousel-control-next" href="#carousel" role="button" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </a>
        </div>
    </div>
  </div>
